<!DOCTYPE html>
<html>
  <head>
    <title>Graceful Timelines</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  	<div class="bg_overlay_1"></div>
  	<div class="bg_overlay_2">
	  <span class="bg_overlay_2_text">
		<h1>Graceful Timelines</h1>
		<p>The Experimental Ruby on Rails Application</p>
	  </span>
	</div>
  	<%= render 'layouts/misc' %>
  	<div class="container">
    　<%= yield %>
    </div>
	<script>
  		window.fbAsyncInit = function() {
    	FB.init({
  	 	   		appId      : '192478574514082',
  		  		xfbml      : true,
      			version    : 'v2.7'
    		});
  		};
  		(function(d, s, id){
     		var js, fjs = d.getElementsByTagName(s)[0];
     		if (d.getElementById(id)) {return;}
     		js = d.createElement(s); js.id = id;
     		js.src = "//connect.facebook.net/en_US/sdk.js";
   	  		fjs.parentNode.insertBefore(js, fjs);
   		}(document, 'script', 'facebook-jssdk'));
	</script>
  </body>
</html>
